/* Checkout page */

.backgroundColor {
   background-color: rgb(20, 20, 20);
   width: 100%;
   height: 740px;
   padding-top: 180px;
}

.checkoutDiv {
   border: 1px solid rgb(199, 199, 199);
   width: 300px;
   margin: auto;
   margin-bottom: 50px;
   background-color: white;
   padding: 2%;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   text-align: center;
}

.checkoutHeadDiv {
   text-align: center;
}

.checkoutHead {
   margin: 0px;
   font-size: 2rem;
   padding-bottom: 50px;
   color: red;
}

.checkoutDiv>label {
   font-size: 1.25rem;
   margin: 10px 0px;
}

.checkoutDiv>input {
   width: 250px;
   margin: auto;
   height: 25px;
   border-radius: 5px;
   border: 1px solid;
}

.checkoutBtn {
   min-width: 80%;
   margin-top: 30px;
   height: 40px;
   border: none;
   background-color: red;
   color: white;
   font-weight: bold;
   cursor: pointer;
   font-size: .9rem;
}

/* Payment page */

.backgroundColorPayment {
   background-color: rgb(20, 20, 20);
   width: 100%;
   height: 590px;
   padding-top: 180px;
}

/* OTP page */

.backgroundColorOtp {
   background-color: rgb(20, 20, 20);
   width: 100%;
   height: 360px;
   padding-top: 180px;
}

.checkoutDivOtp {
   border: 1px solid rgb(199, 199, 199);
   width: 300px;
   margin: auto;
   text-align: center;
   margin-bottom: 50px;
   background-color: white;
   padding: 2%;
   border-radius: 20px;
}

.checkoutDivOtp>input {
   width: 250px;
   height: 25px;
   border-radius: 5px;
   border: 1px solid;
}

@media only screen and (max-width: 720px){
   .checkoutBtn{
      margin-bottom: 20px;
   }
}