/* Carousel */

.carousel {
   box-sizing: border-box;
   margin-top: 110px;
}

.carousel-status {
   display: none;
}

/* Top sellers */

.topSellersDiv {
   background-color: rgb(20, 20, 20);
   color: white;
   padding-bottom: 20px;
}

.headingText {
   margin: 0px;
   font-size: 3rem;
   padding: 5% 2% 2%;
   text-align: center;
   width: 100%;
   box-sizing: border-box;
}

.textDiv {
   width: 300px;
   margin: auto;
   justify-content: center;
   gap: 20%;
   font-size: 1.1rem;
   margin-top: -5px;
   margin-bottom: 30px;
}

.simple {
   border-bottom: 2px solid rgb(36, 36, 36);
   padding-bottom: 15px;
   cursor: pointer;
}

.red {
   border-bottom: 2px solid rgb(255, 0, 0);
   padding-bottom: 15px;
   cursor: pointer;
   color: red;
}

.cardsDiv {
   gap: 20px;
   width: 85%;
   margin: auto;
   margin-bottom: 40px;
}

.card {
   width: 100%;
   background-color: rgb(227, 227, 227);
   color: black;
   border-radius: 10px;
   padding-bottom: 4px;
}

.imageDiv {
   text-align: center;
}

.imageDiv>img {
   width: 80%;
}

.dataDiv {
   background-color: white;
   min-height: 150px;
   margin: 0px 3px;
   border-radius: 10px;
   padding: 8px;
   box-sizing: border-box;
   font-size: .7rem;
}

.priceDiv {
   justify-content: space-between;
   height: 40px;
}

.reviewsDiv {
   margin: 0px;
   margin-bottom: 7px;
}

.title {
   font-size: 1rem;
   font-weight: bold;
   margin: 0px;
}

.price {
   color: red;
   font-weight: bold;
   font-size: 1rem;
   margin-right: 10px;
}

.strPrice {
   color: rgb(167, 167, 167);
   text-decoration: line-through;
}

.cardBtn {
   width: 34%;
   height: 30px;
   background-color: red;
   border: 1px solid red;
   color: white;
   border-radius: 5px;
   font-weight: bold;
   font-size: .9rem;
   cursor: pointer;
}

.list {
   list-style-type: none;
   text-align: left;
   margin: 5px 0px 0px -25px;
   font-size: .85rem;
   padding-bottom: 10px;
}

.list>li::before {
   content: "•";
   color: red;
   display: inline-block;
   width: 1em;
   margin-left: -1em
}

@media only screen and (max-width: 1000px) {
   .cardsDiv {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
}

@media only screen and (max-width: 720px) {
   .cardsDiv {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }

   .headingText {
      font-size: 2rem;
   }
}

/* New Launches Div */

.newLaunches {
   background-color: rgb(20, 20, 20);
   color: white;
   padding: 0px 0px 30px;
}

.newLaunchesDiv {
   justify-content: center;
   gap: 40px;
   margin-top: 20px;
}

.newLaunchesMiddle {
   width: 80%;
   height: 520px;
   border-radius: 30px;
}

.arrowSize {
   width: 35px;
   cursor: pointer;
}

.launchesImgDiv {
   height: 100%;
   flex: 1;
   border-radius: 30px;
}

.launchesImg {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 30px 0px 0px 30px;
}

.launchesDataDiv {
   flex: 1;
   background-color: white;
   height: 100%;
   color: black;
   text-align: center;
   border-radius: 0px 30px 30px 0px;
}

.descriptionDiv {
   justify-content: center;
   gap: 30px;
}

.text1 {
   color: rgb(158, 158, 158);
   font-weight: bold;
   margin-bottom: -10px;
}

.titleText {
   font-size: 1.5rem;
   font-weight: bold;
}

.text3 {
   color: rgb(255, 255, 255);
   font-weight: bold;
   background-color: rgb(255, 0, 0);
   width: 25%;
   margin: auto;
   padding: 3px;
   margin-bottom: -10px;
}

.rupeeText {
   color: red;
   font-size: 1.7rem;
   font-weight: bold;
   margin-bottom: 10px;
}

.text5 {
   background-color: rgb(111, 111, 111);
   color: white;
   padding: 2px 15px;
}

.para {
   max-height: 60px;
   overflow: hidden;
}

.textPara {
   width: 80%;
   margin: auto;
   text-align: justify;
   text-justify: inter-word;
   max-height: 100px;
   font-size: .95rem;
}

.redText {
   color: red;
   font-weight: bold;
   cursor: pointer;
}

.launchesBtnDiv {
   justify-content: center;
   gap: 15px;
}

.exploreBtn {
   width: 25%;
   height: 50px;
   border-radius: 5px;
   border: 1px solid red;
   color: red;
   font-weight: bold;
   background-color: white;
   cursor: pointer;
}

.addToCartBtn {
   width: 25%;
   height: 50px;
   border-radius: 5px;
   border: none;
   background-color: red;
   color: white;
   font-weight: bold;
   cursor: pointer;
}


.colors {
   width: 30%;
   margin: auto;
   margin-top: 35px;
   margin-bottom: 35px;
   height: 40px;
   justify-content: center;
   gap: 20px;
}

.color1,
.color2,
.color3 {
   border-radius: 50%;
   min-width: 25px;
   min-height: 25px;
}

.colorRing {
   border: 2px solid rgb(255, 0, 0);
   border-radius: 50%;
   padding: 3px;
}

.color1 {
   background-color: black;
}

.color2 {
   background-color: rgb(202, 201, 200);
}

.color3 {
   background-color: rgb(64, 135, 193);
}

@media only screen and (max-width: 950px) {
   .newLaunchesMiddle {
      display: flex;
      flex-direction: column;
      border: 1px solid;
      min-height: 1050px;
   }

   .launchesImgDiv {
      width: 100%;
      height: 50%;
      border-radius: 30px;
   }

   .launchesImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px 30px 0px 0px;
   }

   .launchesDataDiv {
      background-color: white;
      height: 100%;
      color: black;
      text-align: center;
      border-radius: 0px 0px 30px 30px;
   }
}

@media only screen and (max-width: 500px) {
   .arrowSize {
      display: none;
   }

   .addToCartBtn,
   .exploreBtn {
      font-size: .75rem;
   }
}

/* Boat Blogs */

.boatBlogs {
   background-color: rgb(220, 220, 220);
   padding: 2% 4% 3%;
}

.blogHeading {
   text-align: center;
   font-size: 1.7rem;
   margin: 0px;
}

.blogHead {
   margin: 0px;
   margin-bottom: 50px;
}

.blogMidDiv {
   justify-content: center;
}

.blogImage {
   width: 97%;
   height: 250px;
   cursor: pointer;
}

.blogBtn {
   background-color: rgb(255, 0, 0);
   color: white;
   width: 200px;
   height: 50px;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   font-weight: bold;
   margin-top: 40px;
   font-size: .9rem;
   letter-spacing: .1rem;
}

.blogText {
   font-size: 1.2rem;
   width: 96%;
   font-weight: bold;
}

@media only screen and (max-width: 1000px) {
   .blogImageDiv {
      display: flex;
      flex-direction: column;
      object-fit: contain;
      margin: auto;
   }
}

/* Press Component */

.pressComponent {
   text-align: center;
   background-color: rgb(20, 20, 20);
}

.pressDiv {
   padding: 70px;
}

.pressHeading {
   color: white;
   margin: auto;
   font-size: 3.3rem;
}

.pressLinksDiv {
   justify-content: center;
   gap: 2%;
   margin: auto;
}

.pressText {
   color: white;
   font-size: 1.3rem;
   margin: 20px 60px 60px;
}

.pressCommas {
   color: rgb(114, 12, 12);
   font-size: 5rem;
   margin: 0px;
}

.ratingDiv {
   margin: auto;
}

.pressRatings {
   width: 100%;
}

.promise {
   padding: 50px;
   color: white;
}

.lastDivPress {
   justify-content: center;
   margin-top: 50px;
   gap: 5%;
   font-size: 1.1rem;
}

.lastDivPressImg {
   width: 60px;
}

.disclaimer {
   background-color: rgb(44, 44, 44);
   color: rgb(134, 134, 134);
   padding: 15px;
}

.disclaimerText {
   margin: 0px;
   width: 70%;
   margin: auto;
   font-size: .9rem;
}

@media only screen and (max-width:900px) {
   .pressLinksDiv {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 70%;
      grid-gap: 20px;
   }
}

@media only screen and (max-width:900px) {
   .pressDiv {
      display: none;
   }
}

@media only screen and (max-width:500px) {
   .lastDivPress {
      display: flex;
      flex-direction: column;
   }
}