/* Navbar */

.preNavbar {
   background-color: rgb(255, 0, 0);
   height: 40px;
   text-align: center;
   line-height: 40px;
   color: white;
   position: fixed;
   top: 0px;
   width: 100%;
   z-index: 10;
}

.preNavText {
   margin: 0px;
   font-weight: bold;
}

.mainNavbar {
   box-sizing: border-box;
   height: 70px;
   background-color: black;
   color: white;
   padding: 0% 2%;
   position: -webkit-sticky;
   position: fixed;
   width: 100%;
   top: 40px;
   z-index: 10;
}

.navLogo {
   flex: 1;
}

.logo {
   width: 85px;
}

.navLinks {
   gap: 3%;
   flex: 1;
   justify-content: center;
   cursor: pointer;
}

.bottomAnimation {
   display: inline-block;
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-size: 1.1rem;
}

.bottomAnimation::after {
   content: '';
   display: block;
   width: 0;
   height: 1px;
   background: rgb(255, 255, 255);
   transition: width .3s;
}

.bottomAnimation:hover::after {
   width: 130%;
   transition: width .3s;
}

.navSearch {
   gap: 15px;
   flex: 1;
   justify-content: flex-end;
   position: relative;
}

.searchBar {
   background-color: white;
   border-radius: 50px;
}

.searchInput {
   height: 40px;
   width: 200px;
   border: none;
   border-radius: 50px;
   padding-left: 7px;
   font-size: 1.1rem;
}

.searchInput:focus {
   outline: none;
}

.searchInput,
.searchInput::placeholder {
   font-size: 1.1rem;
}

.searchIcon {
   padding-left: 10px;
}

.iconsDiv {
   cursor: pointer;
   gap: 10px;
}

.cartCount {
   height: 20px;
   width: 20px;
   background-color: red;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 11px;
   position: absolute;
   right: -10px;
   top: -10px;
}

.smallScreenSearch {
   height: 70px;
   background-color: black;
   color: white;
   display: flex;
   justify-content: center;
}

.smallSearchInput {
   height: 40px;
   width: 200px;
   border: none;
   border-radius: 50px;
   padding-left: 7px;
   font-size: 1.1rem;
}

.smallScreenSearchBar {
   background-color: white;
   border-radius: 50px;
}

@media only screen and (max-width: 750px) {
   .searchBar {
      display: none;
   }

   .smallScreenSearch {
      display: flex;
      position: fixed;
      top: 110px;
      z-index: 1;
      width: 100%;
   }

   .cartCount {
      position: absolute;
      top: -18px;
   }

   .carousel {
      margin-top: 180px;
   }
}

@media only screen and (max-width: 500px) {
   .preNavbar {
      display: none;
   }

   .cartCount {
      right: -5px;
   }

   .smallScreenSearch {
      display: flex;
      position: fixed;
      top: 70px;
      z-index: 1;
      width: 100%;
   }

   .mainNavbar {
      position: fixed;
      top: 0px;
      z-index: 10;
      width: 100%;
   }

   .carousel {
      margin-top: 140px;
   }


}

@media only screen and (min-width: 750px) {
   .smallScreenSearch {
      display: none;
   }
}

/* Login popup */

.loginPopup {
   height: 70px;
   width: 210px;
   position: fixed;
   border-radius: 6px;
   right: 20px;
   top: 110px;
   background-color: black;
   padding: 10px;
}

@media only screen and (max-width: 500px) {
   .loginPopup {
      position: fixed;
      top: 70px;
      right: 20px;
   }
}

.popupUpperDiv {
   justify-content: space-between;
   margin-bottom: 13px;
}

.popupText {
   margin: 0px;
   color: red;
   font-size: 1.1rem;
}

.popUpBtn {
   width: 100%;
   margin: auto;
   height: 35px;
   background-color: red;
   font-size: 1rem;
   color: white;
   font-weight: bold;
   cursor: pointer;
   border: none;
}

/* More popup */

.morePopup {
   width: 250px;
   height: 280px;
   border: 1px solid rgb(24, 24, 24);
   position: absolute;
   top: 70px;
   background-color: black;
   font-size: 1rem;
   padding: 0px 20px;
   box-sizing: border-box;
}

.morePopup>p:hover {
   color: red;
   transition: .3s;
}

/* Show popup */

.showPopup {
   display: grid;
   width: 100%;
   height: 500px;
   background-color: black;
   border: 1px solid rgb(24, 24, 24);
   position: absolute;
   box-sizing: border-box;
   left: 0px;
   top: 70px;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 20px;
   padding: 40px;
}

.showPopup>img {
   width: 350px;
}

.showPopup>img:hover {
   opacity: .7;
   transition: .3s;
}

.firstLinkedImg:hover {
   opacity: .7;
   transition: .3s;
}

.firstLinkedImg {
   width: 350px;
}